@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #1A1B28, #1A1A1A);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.points {
    display: none;
    position: absolute;
    top: 18%;  
    text-align: center;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: #3C3E52;
    padding: 8px;
    border-radius: 15px;
}

.canvas, .stats {
    background-color: black;
    padding: 12px 15px;
    border-radius: 8px;
}

.stats-container {
    position: absolute;
    margin-top: 10%;
    transform: translateY(80%);
    background-color: #3C3E52;
    padding: 8px;
    border-radius: 15px;
}

.stats p{
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.canvas-container span,
.menu span, .points span, .stats span{
    color: white;
    font-size: 1.5rem;
}

.canvas-container .score-container, #score {
    font-size: 25px;
}

.menu {
    position:absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -70%);
    background-color: black;
    border: 5px solid white;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 15px 30px;
}

.menu button {
    padding: 5px 10px;
    margin: 0 30px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #3C3E52;
    color: white;
}

.level {
    display: none;
    position: absolute;
    left: 42%;
    top: 25%;
}

.level span {
    font-size: 1.2rem;
    color: white;
}

.menu button:hover {
    background-color: #1A1B28;
}

.game-over{
    display: none;
    flex-direction: column;
}

.menu > span:first-of-type {
    font-size: 3rem;
    font-weight: bold;
}

.show-controls {
    display: none;
    flex-direction: column;
    text-align: start;
}

.game-over p {
    color: white;
    font-size: 1rem;
}

.show-controls p {
    color: white;
    font-size: 0.75rem;
}

.sounds {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 2rem;
}

.sounds label {
    color: white;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}

.sounds input[type=checkbox] {
    transform: scale(1.5);
}

.select-music input[type=checkbox]:hover + label,
.select-music label:hover,
.select-sounds input[type=checkbox]:hover + label,
.select-sounds label:hover {
    color: yellow; /* Cambia este color al que prefieras */
}

.select-music input[type=checkbox],
.select-sounds input[type=checkbox] {
    cursor: pointer;
}